#####################################################
#
# List of approvers for EmagTechLabs/config-tokens-parses
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @liutec