<?xml version="1.0" encoding="utf-8"?>
<!--
   Example: phpunit -c phpunit.xml AllTests
-->
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./tests/ConfigToken/Tests/TestsInit.php"
        >

    <testsuites>
        <testsuite name="Config Token Lib Test Suite">
            <directory>./tests/ConfigToken/Tests</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>performance</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory>./lib/ConfigToken/</directory>
        </whitelist>
    </filter>
</phpunit>